/*style sheet for Le Dome Cafe*/

/*---universal---*/



ul {
	list-style: none;
}

a {
	text-decoration: none;
	transition: .5s ease;
}

html {
	margin: auto;
    padding: 0;

}

#logo {
    background-image: url(https://user-images.githubusercontent.com/7917600/29050812-467fa5c4-7b93-11e7-9f58-35cba17a86d1.png);
    background-size: contain;
    height: 50px;
    width: inherit;
    margin: 3px 0 0 15px;

    position: relative;
    background-repeat: no-repeat;
    z-index: 999;

}

.logoName {
  Font-family: 'Lobster', cursive;
	font-size: 18px;
	color: orange;
	letter-spacing: 5px;
	text-align: left;
	z-index: 1003;
	position: absolute;
	opacity: 1;
    height: 45px;
    min-width: 200px;
    width: 200px;
    top: 15px;
    margin: 0 0 0 90px;
    padding: 0;



}

h1 {
    font-family: 'Amatic SC', cursive;
	font-size: 100px;
	font-weight: 800;
	color: #fff;
	padding: 0 0 0 0;
   text-align: center;
    margin: auto;


}


/*---index---*/



.container:hover .home1_1 {
    opacity: 1;
    transition: 2s ease;

}

.menu {

	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: 800;
	color: white;
	padding: 10px 0 0 0;
   text-align: center;
    z-index: 9999;

}

div.title {
    font-family: 'Lobster', cursive;
	font-size: 170px;
    text-align: center;
    color: orange;
    margin: 2% 0 0 0;
    position: relative;
    top: -710px;
    line-height: 180px;



}


.subtitle {
    font-family: 'Lobster', cursive;
	font-size: 70px;
    text-align: center;
    color: orange;
    margin: 70px 0 0 0;
    position: relative;
    top: -30px;


}



.home1_1:hover .overlay {
    height: 100%;


}

.overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 1s ease;
    background-position: center center;
    background-clip:border-box;
    z-index: .7;


}

prodtable {
    position: relative;
    background-color: rgba(55,55,55,.4);
    margin: 250px 1% 0 1%;
    width: 98%;
    adding: 20px;
    border: 1px #000;
    border-collapse: collapse;
    text-align: center;

}

.div-pastry-table {

    margin: 250px 20% 0 20%;
    idth: 80%;
    height: 100%;
    min-height: 300px;
    padding: 10px 10px 10px 10px;
    min-width: 200px;
		ax-width: 50%;
    background-color: rgba(0,0,25,.6);
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;

}



.pasttable {
    float: left;
    margin: auto;
    padding: 10px 10px 0 10px;

}

td {

    padding: 1%;
}

.home1 {
	ackground-image: url(https://user-images.githubusercontent.com/7917600/29050816-4bc76094-7b93-11e7-8679-489c0ba90833.jpg);
	position: relative;
	width: 100%;
	height: 100vh;
	margin: -30px 0 0 0;
	padding: 0;
	background-position: center center;
	background-color: #000;

}

.home1_1 {
	background-image: url(https://user-images.githubusercontent.com/7917600/29050822-54f7c046-7b93-11e7-96fa-08e5a90983ff.png), url(https://user-images.githubusercontent.com/7917600/29050821-54f5d75e-7b93-11e7-938b-d37fe89c281e.png), url(https://user-images.githubusercontent.com/7917600/29050835-632c93e4-7b93-11e7-94f0-e4d281f459f1.png);
	background-position: relative;
    background-position: center center;
	background-repeat: no-repeat;
    background-size: 70%, 70%, 80%;
	height: 120vh;
	margin: 30px 10% 0 10%;
	background-color: rgba(155, 155,155, .5);
	background-attachment: fixed;
	text-align: center;
    opacity: .5;
    transition: 2s ease;
    background-color: white;
    min-width: 200px;



}

.home1_1:hover {
      background-size: 60%, 30%,110%;
    transition: 2s ease;
    background-color: #334aaf;

}




.home2  {
	width: 100%;
	height: 250vh;
	background-position: relative;
	background-attachment: fixed;
	background-image: url(https://user-images.githubusercontent.com/7917600/29050797-35c1ee68-7b93-11e7-9974-2b9d06fde150.jpg);
    background-size: cover;
    background-repeat: no-repeat;




}

 .home2_1 {
	background-color: rgba(55,55,55,.8);
	margin: 0% 20% 0 20%;
	padding: 0% 2% 2% 2%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	min-width: 400px;
    top: 10%;
    position: relative;
}

.home2_1 p {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: 800;
	color: white;
	padding: 10px 0 0 0;
   text-align: center;


}


div.home3 {
	width: 100%;
	height: 190vh;
	background-position: relative;
	background-attachment: fixed;
	background-image: url(https://user-images.githubusercontent.com/7917600/29050798-35c30de8-7b93-11e7-9127-0daea7dba05f.jpg);
    background-size: cover;
    padding: 40px 0 0 0;
    position: relative;

}

div.home3b p {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: 800;
	color: white;
    margin: 0;

}

div.home3b {
	background-color: rgba(155,155,55,.5);
	display: flex;
	flex-wrap:wrap;
	min-width: 400px;
    margin: 0% 20% 0 20%;
	padding: 0% 2% 2% 2%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	min-width: 400px;
    top: 5%;
    text-align: center;

}

.home3c {
	background-color: rgba(205,155,5,.8);
	flex-wrap: wrap;
    margin: 275px 0% 0% 5%;
	padding: 0 5%;
	display:inline-block;
	flex-wrap: wrap;
	position: relative;
	min-width: 900px;
    border-radius: 75px 0% 0% 75px;

}

.home3c p {
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	font-weight: 800;
	color: white;
	text-align: right;
    margin: 0;


}

.home3_1 {
	background-color: orange;
	background-image: url(https://user-images.githubusercontent.com/7917600/29050810-467d0eae-7b93-11e7-98af-dba072fae76f.jpg);
	width: 100%;
	height: 70vh;
	background-position: relative;
    background-position: center center;
	background-repeat: no-repeat;
}

.home4b h1 {

color: #000;
font-weight: 900;
font-size: 150px;
letter-spacing: 15px;
}

body div.home4 {
	background-image: url(https://user-images.githubusercontent.com/7917600/29050811-467d8960-7b93-11e7-8d15-12296efbf5fd.jpg);
	width: 100%;
	height: 120vh;
	background-position: relative;
	background-attachment: fixed;
    background-size: cover;
    padding: 240px 0 0 0;
}
div.home4_1 {
	background-color: orange;
	background-image: url(https://user-images.githubusercontent.com/7917600/29050809-467cba76-7b93-11e7-865b-739223e4bf3e.jpg);
	width: 100%;
	height: 72vh;
	background-position: relative;
	background-size: cover;

}

div.home4b p{
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	font-weight: 800;
	color: #000;
	letter-spacing: 3px;
}

div.home4b {
	background-color: rgba(155,155,155,.9);
    position: relative;
	font-size: 30px;
	font-weight: 800;
	padding: 0px;
	display: inline-block;
	flex-wrap:wrap;
	min-width: 600px;
    margin: -15% 10% 0 10%;
	padding: 0% 2% 0 2%;
	display: flex;
	flex-wrap: wrap;
    top: 0;
    text-align: center;

}


.home5 {

	background-image: url(https://user-images.githubusercontent.com/7917600/29050816-4bc76094-7b93-11e7-8679-489c0ba90833.jpg);
	width: 100%;
	height: 100%;
	background-position: relative;
	background-attachment: fixed;
    background-image: url(https://user-images.githubusercontent.com/7917600/29050816-4bc76094-7b93-11e7-8679-489c0ba90833.jpg);
	width: 100%;
	height: 120vh;
	margin: 0;
	padding: 0;
	background-position: center center;


}



/*---cafe---*/


body {
	background-color: black;
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 10px 0 rgba(5,23,34,.5);
    z-index: 1001;
	transition: .5s ease;
	margin: 0 100px 0 0;
	padding: 0 10px 0 0;

}




.nav-content:hover div a {
    margin: 0 100px 0 0;
}



.nav-content a {
    padding: 15px;
    margin: 0 15px 0 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: orange;
    font-family: 'Amatic SC', cursive;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 4px;
	transition: .5s ease;
    width: 100px;

}

.nav-content a:hover {
    color: red;
    padding: 15px;
    text-decoration: none;
    display: block;
    background-color: #060611;
}

.nav-content a:active {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    border: solid 2px black;
    background-color: #a70611;
}


.navbox {
		display: inline-block;


}


.bar {
    height: 50%;
    width: 65px;
    margin: 4px 0 2px 0;

}

.navbttn {
    height: 50px;
    color: #000;
    border: none;
    cursor: pointer;
    background-color: rgba(155,155,155, .0);
    z-index: 1000;
    font-size: 20px;
     background-image: url(https://user-images.githubusercontent.com/7917600/29050796-35ac5e9a-7b93-11e7-823c-d45ff9f325ed.png);
    background-repeat: no-repeat;
    margin: 0 60px 0 60%;
	top:10px;
    position: relative;


}


.navContainer {
	width: 100%;
	height: 55px;
	position: fixed;
	background-color: #000;
    padding: 0;
    display: flex;
    z-index:99999;
    top: 0;
    background-color: black;


}



.navbox:hover .nav-content {
    display: block;

}



.endTag {
    font-family: 'Amatic SC', cursive;
	font-size: 150px;
	font-weight: 500;
	color: white;
    text-align: center;
    margin: 0 2% 2% 0;
    top: 300px;
	padding: 100px 0 0 0;


}

.contact {
    font-family: 'Amatic SC', cursive;
	font-size: 35px;
	font-weight: 500;
	color: white;
    text-align: center;
    margin: 0 2% 2% 0;
    top: 300px;



}

div.footer {
    width:100%;
    height: 10%;
    position: relative;
    top: 10px;
    bottom: 0;
    max-height: 100%;
}

div.footer div {
    font-family: 'Amatic SC', cursive;
	font-size: 16px;
	font-weight: 500;
	color: white;
    text-align: right;
    margin: 0 2% 2% 0;
    min-width: 600px;
    position: relative;
    top: 0;
    bottom: 0;
}





@media only screen and (min-width: 180px) and (max-width: 580px) {

div.title {
	font-size: 110px;
   margin: auto;
    line-height: 140px;
		position: fixed;
        }
.subtitle {
	font-size: 40px;
    top: -80px;
		position: fixed;
    }
 .home2_1 {
	margin: 0% 5% 0 5%;
	min-width: 300px;

    }
.logoName {
    font-size: 15px;
    top: 20px;

    }
.div-pastry-table {

    }

.pasttable img {
    width: 160px;

    }
.div-pastry-table {
    margin: 250px 5% 0 5%;
    width: 90%;
    height: 100%;
    min-height: 300px;
    padding: 0px;
    min-width: 100px;
    }


}

@media only screen and (min-width: 380px) and (max-width: 580px) {
	h1 {
		font-size: 70px;
		transition: transform 2s;
		}


}

@media only screen and (min-width: 580px) and (max-width: 780px) {
	h1 {
		font-size: 100px;
		transition: transform 2s;
		}


}
